
@{
    ViewData["Title"] = "O mnie";
}

<h1>   O mnie ! </h1>
<div class="col-md-4" "text-center">
    <img src="/src/images/emoji.png" class="img-fluid" alt="panda">
    <p>Tu powstanie strona o mnie </p>
</div>

<p>Tu powstanie strona o mnie </p>

