@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-left">
    <h1 class="display-4">Witaj !</h1>
    <p> Przecztaj na temat <a href="https://docs.microsoft.com/aspnet/core"> tworzenia aplikacji Web z użuciem ASP.NET Core.</a></p>
</div>
